@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border-top-color: #6366f1;
    animation: spin 1s linear infinite;
}